@using Microsoft.AspNetCore.Mvc.TagHelpers
@model DynamicForms.Domain.Forms.InputForm

@using (Html.BeginForm("SaveForm", "Form", FormMethod.Post, new { @class = "container" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="mb-3">
        <label for="Name" class="form-label">Name:</label>
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", id = "Name" })
        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <label for="Description" class="form-label">Description:</label>
        @Html.TextAreaFor(model => model.Description, new { @class = "form-control", id = "Description" })
        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
    </div>

    @for (int i = 0; i < Model.Fields.Count; i++)
    {
        string inputType = Model.Fields.ElementAt(i).DataType == "STRING" ? "text" : "number";

        <div class="mb-3">
            <label for="@("Fields_" + i)" class="form-label">@Model.Fields.ElementAt(i).Name</label>
            <input type="@inputType" name="Fields[@i].Value" id="@("Fields_" + i)" required="@Model.Fields.ElementAt(i).IsRequired" class="form-control"/>
        </div>
    }

    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}